img {
    float: left;
    margin: 15px;
}
button {
    color:black;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
h1 {
    padding: 10px;
}
p {
    padding: 10px;
    font-size: 16px;
    text-align: justify;
}