<h3>
Kliknij w film aby wyświetlić więcej informacji.
</h3>
<div class="film" 
*ngFor="let film of filmy;" routerLink="film/{{film.id}}">
<img src="assets/{{film.tytul}}.jpg" width="100" height="150"/>
</div>
