<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Witaj w aplikacji {{ title }} Wesa Andersona!
  </h1>
 
</div>

<router-outlet></router-outlet>
